body, html {
  width: 100%;
  height: 100%;
}

.fa-smile-o{
  color: #68458f;
}

.red-color {
    content:"*";
    color: red
}

strong {
  font-weight: 900;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.earn-with-us {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}

.slick-prev:before, .slick-next:before {
  color: #68458f !important;
}

@media (max-width: 426px) {
    .earn-with-us {
        font-size: 18px;
    }
}

.section-top-fixed {
  margin-top: 100px;
}

.intro-header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #f8f8f8;
  background: no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-right: 35%;
}

.text-muted {
  color: #020202!important;
  margin-bottom: 30px;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h1 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 2em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }

    .intro-header {
        background-size: auto;
    }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

.required-field:before{
  color: #d00;
  content: "*";
}

/*Nav bar start*/
@media (min-width: 992px) {
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #222222;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }

  .logo-image.logo-scrolled {
    height: 50px;
    width: 80px;
    margin: 10px;
  }
}

@media (max-width: 992px) {
    .logo-image.logo-scrolled {
        height: 50px;
        margin: 10px;
    }

    .intro-message {
        padding: 5%;
    }

    .catalog-link {
        margin-bottom: 30px;
    }
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .7);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, .5);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .2rem;
    padding-left: .2rem;
  }
}

/*Nav bar end*/

/*pdf link start*/
.pdf-link {
  line-height: 1.2em;
  color: #68458f;
}

.pdf-link:hover, .pdf-link:focus {
  color: #9f6ed6;
  text-decoration: none;
}

/*pdf link end*/

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

/*Our partners*/

@media (max-width: 576px) {
  .partner {
    padding: 5%
  }
}

/*
Additional custom styles
*/

.flex-column-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.main-title {
  box-sizing: content-box;
  width: 200px;
}

.logo-image {
  height: 100px;
  width: 100px;
}

.main-text {
  color: #68458f;
  font-weight: 700;
}

.link-color {
  color: #212529;
}

/*company-image start*/

.company-image {
  height: 400px;
  width: 400px;
  margin-top: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .company-image {
    height: auto;
    width: auto;
  }
}

/*company-image end*/

/*care-rules-image start*/

.care-rules-image {
  height: 300px;
  width: 300px;
  margin-top: 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .care-rules-image {
    height: auto;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .care-rules-image {
    height: auto;
    width: 90%;
    margin-right: 0;
  }
}

/*care-rules-image end*/

.gloves-image {
    margin-bottom: 2rem;
}

.profit-heading {
  font-weight: 700;
}

/*time line (copy pasted) */

.timeline-body > ul > li{
  margin-bottom: 10px;
  color: rgba(0,0,0,.7);
  font-weight: 600;
}

.timeline-circle-text {
  color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none; }

  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e0e0e0; }

    .timeline > li {
      position: relative;
      min-height: 50px;
      margin-bottom: 50px; }

      .timeline > li:after, .timeline > li:before {
        display: table;
        content: ' '; }

        .timeline > li:after {
          clear: both; }

          .timeline > li .timeline-panel {
            position: relative;
            float: right;
            width: 100%;
            padding: 0 20px 0 100px;
            text-align: left; }

            .timeline > li .timeline-panel:before {
              right: auto;
              left: -15px;
              border-right-width: 15px;
              border-left-width: 0; }

              .timeline > li .timeline-panel:after {
                right: auto;
                left: -14px;
                border-right-width: 14px;
                border-left-width: 0; }

                .timeline > li .timeline-image {
                  position: absolute;
                  z-index: 100;
                  left: 0;
                  width: 80px;
                  height: 80px;
                  margin-left: 0;
                  text-align: center;
                  color: white;
                  border: 7px solid #e0e0e0;
                  border-radius: 100%;
                  background-color: #e7e7e7; }

                  .timeline > li .timeline-image h4 {
                    font-size: 10px;
                    line-height: 14px;
                    margin-top: 12px; }

                    .timeline > li.timeline-inverted > .timeline-panel {
                      float: right;
                      padding: 0 20px 0 100px;
                      text-align: left; }

                      .timeline > li.timeline-inverted > .timeline-panel:before {
                        right: auto;
                        left: -15px;
                        border-right-width: 15px;
                        border-left-width: 0; }

                        .timeline > li.timeline-inverted > .timeline-panel:after {
                          right: auto;
                          left: -14px;
                          border-right-width: 14px;
                          border-left-width: 0; }

                          .timeline > li:last-child {
                            margin-bottom: 0; }

                            .timeline .timeline-heading h4 {
                              margin-top: 0;
                              color: inherit; }

                              .timeline .timeline-heading h4.subheading {
                                text-transform: none; }

                                .timeline .timeline-body > ul,
                                .timeline .timeline-body > p {
                                  margin-bottom: 0; }


                                  @media (min-width: 768px) {
                                    .timeline:before {
                                      left: 50%; }

                                      .timeline > li {
                                        min-height: 100px;
                                        margin-bottom: 100px; }

                                        .timeline > li .timeline-panel {
                                          float: left;
                                          width: 41%;
                                          padding: 0 20px 20px 30px;
                                          text-align: right; }

                                          .timeline > li .timeline-image {
                                            left: 50%;
                                            width: 100px;
                                            height: 100px;
                                            margin-left: -50px; }

                                            .timeline > li .timeline-image h4 {
                                              font-size: 13px;
                                              line-height: 18px;
                                              margin-top: 16px; }

                                              .timeline > li.timeline-inverted > .timeline-panel {
                                                float: right;
                                                padding: 0 30px 20px 20px;
                                                text-align: left; }
                                              }

                                              @media (min-width: 992px) {
                                                .timeline > li {
                                                  min-height: 150px; }
                                                  .timeline > li .timeline-panel {
                                                    padding: 0 20px 20px; }
                                                    .timeline > li .timeline-image {
                                                      width: 150px;
                                                      height: 150px;
                                                      margin-left: -75px; }
                                                      .timeline > li .timeline-image h4 {
                                                        font-size: 18px;
                                                        line-height: 26px;
                                                        margin-top: 30px; }
                                                        .timeline > li.timeline-inverted > .timeline-panel {
                                                          padding: 0 20px 20px; } }

                                                          @media (min-width: 1200px) {
                                                            .timeline > li {
                                                              min-height: 170px; }
                                                              .timeline > li .timeline-panel {
                                                                padding: 0 20px 20px 100px; }
                                                                .timeline > li .timeline-image {
                                                                  width: 170px;
                                                                  height: 170px;
                                                                  margin-left: -85px; }
                                                                  .timeline > li .timeline-image h4 {
                                                                    margin-top: 40px; }
                                                                    .timeline > li.timeline-inverted > .timeline-panel {
                                                                      padding: 0 100px 20px 20px; } }
