<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Сделать заявку на кожаные перчатки оптом."/>

    <title>Прайс на перчатки «Акцент»</title>

    <link rel="canonical" href="https://perchatki-accent.ru/application"/>

    <div th:replace="fragment/head_source :: head_source"/>

    <!-- Custom JavaScript Files -->
    <script src="js/application.js"></script>

</head>

<body>

<!-- Navigation -->
<nav th:replace="fragment/navigation :: navigation"/>

<section class="content-section-b section-top-fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="alert alert-success" th:if="${isSuccessfulSent == true}">
                    Ваша заявка принята. Вам отправлено уведомление на электронную почту.
                </div>
                <p th:unless="${isSuccessfulSent == true}">
                    Для получения прайса, заполните, пожалуйста, заявку.
                </p>
                <form id="applicationForm" th:action="@{/application}" th:object="${customerApplication}" method="post">
                    <div class="form-group">
                        <label for="name" class="required-field">Имя:</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="required-field">Номер телефона:</label>
                        <input type="tel" class="form-control" placeholder="+7 (___) ___-__-__"
                               th:field="*{phoneNumber}" id="phoneNumber"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                             th:errors="*{phoneNumber}"></div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="required-field">Электронная почта:</label>
                        <input type="email" class="form-control" th:field="*{email}" id="email"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}"></div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="required-field">Ваш город:</label>
                        <input type="text" class="form-control" th:field="*{city}" id="city"/>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                    </div>
                    <div class="form-group">
                        <label for="specialization">Ваша специализация:</label>
                        <select class="form-control" th:field="*{specialization}" id="specialization">
                            <option th:each="specialization : ${T(ru.perchatki.accent.wholesale.site.dto.Specialization).values()}"
                                    th:value="${specialization}" th:text="${specialization.displayName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="retail_space">Тип вашей торговой точки:</label>
                        <select class="form-control" th:field="*{retailOutletType}" id="retail_space">
                            <option th:each="retailOutletType : ${T(ru.perchatki.accent.wholesale.site.dto.RetailOutletType).values()}"
                                    th:value="${retailOutletType}" th:text="${retailOutletType.displayName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="suitable_time_from">Удобное время для звонка:</label>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-4">
                                <label for="suitable_time_from">С:</label>
                                <select class="form-control" th:field="*{suitableTimeFrom}" id="suitable_time_from">.
                                    <option th:value="not_filled"></option>
                                    <option th:value="7_00">7:00</option>
                                    <option th:value="8_00">8:00</option>
                                    <option th:value="9_00">9:00</option>
                                    <option th:value="10_00">10:00</option>
                                    <option th:value="11_00">11:00</option>
                                    <option th:value="12_00">12:00</option>
                                    <option th:value="13_00">13:00</option>
                                    <option th:value="14_00">14:00</option>
                                    <option th:value="15_00">15:00</option>
                                    <option th:value="16_00">16:00</option>
                                    <option th:value="17_00">17:00</option>
                                    <option th:value="18_00">18:00</option>
                                    <option th:value="19_00">19:00</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-4">
                                <label for="suitable_time_to">По:</label>
                                <select class="form-control" th:field="*{suitableTimeTo}" id="suitable_time_to">
                                    <option th:value="not_filled"></option>
                                    <option th:value="7_00">7:00</option>
                                    <option th:value="8_00">8:00</option>
                                    <option th:value="9_00">9:00</option>
                                    <option th:value="10_00">10:00</option>
                                    <option th:value="11_00">11:00</option>
                                    <option th:value="12_00">12:00</option>
                                    <option th:value="13_00">13:00</option>
                                    <option th:value="14_00">14:00</option>
                                    <option th:value="15_00">15:00</option>
                                    <option th:value="16_00">16:00</option>
                                    <option th:value="17_00">17:00</option>
                                    <option th:value="18_00">18:00</option>
                                    <option th:value="19_00">19:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input id="personal-data" type="checkbox"/>Я согласен(а) на обработку и хранение персональных данных</label>
                        <p>Данные будут использоваться только для выполнения обязательств перед
                            пользователем и не будут без разрешения пользователей передаваться
                            третьим организациям и лицам.</p>
                    </div>
                    <button id="submit" onclick="yaCounter46803867.reachGoal('submit'); return true;" type="submit" class="btn btn-secondary" disabled="disabled">Подать заявку</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer th:replace="fragment/footer :: footer"/>


</body>

</html>

